## environment variables for ecs task definition
---
PRIMARY_ECSTASK_ENV:
  DB_USER:
  DB_PASSWORD:
  DB_HOST:
  DB_PORT:
  DB_NAME:
  DB_SLAVE1_USER:
  DB_SLAVE1_PASSWORD:
  DB_SLAVE1_HOST:
  DB_SLAVE1_PORT:
  XORM_MODE:
  DOMAIN:
  HTTP_PORT:
  GIN_MODE:
  ENVIRONMENT:
  LOG_DEBUG:
  LOG_LEVEL:
  JWT_SALT:
  SCRYPT_SALT:
  REDIS_HOST:
  REDIS_PORT:
  # redis endpoint (development 以上專用)
  REDIS_CLUSTER_CONFIGURATION_POINT:
  # redis cluster conn (3 master, 1 slave per master)
  # localhost use only
  REDIS_CLUSTER_0: 127.0.0.1:7000
  REDIS_CLUSTER_1: 127.0.0.1:7001
  REDIS_CLUSTER_2: 127.0.0.1:7002
  REDIS_CLUSTER_3: 127.0.0.1:7003
  REDIS_CLUSTER_4: 127.0.0.1:7004
  REDIS_CLUSTER_5: 127.0.0.1:7005
  AWS_KEY:
  AWS_SECRET:
  AWS_REGION:
  WEBPUSH_ENDPOINT:
  MAIL_SERVER_TYPE:
  GMAIL_USER:
  GMAIL_PASSWORD:

APIGATEWAY_ECSTASK_ENV:
  DB_USER:
  DB_PASSWORD:
  DB_HOST:
  DB_PORT:
  DB_NAME:
  DB_SLAVE1_USER:
  DB_SLAVE1_PASSWORD:
  DB_SLAVE1_HOST:
  DB_SLAVE1_PORT:
  XORM_MODE:
  DOMAIN:
  HTTP_PORT:
  GIN_MODE:
  ENVIRONMENT:
  LOG_DEBUG:
  LOG_LEVEL:
  JWT_SALT:
  SCRYPT_SALT:
  REDIS_HOST:
  REDIS_PORT:
  # redis endpoint (development 以上專用)
  REDIS_CLUSTER_CONFIGURATION_POINT:
  # redis cluster conn (3 master, 1 slave per master)
  # localhost use only
  REDIS_CLUSTER_0: 127.0.0.1:7000
  REDIS_CLUSTER_1: 127.0.0.1:7001
  REDIS_CLUSTER_2: 127.0.0.1:7002
  REDIS_CLUSTER_3: 127.0.0.1:7003
  REDIS_CLUSTER_4: 127.0.0.1:7004
  REDIS_CLUSTER_5: 127.0.0.1:7005
  AWS_KEY:
  AWS_SECRET:
  AWS_REGION:
  MAIL_SERVER_TYPE:
  GMAIL_USER:
  GMAIL_PASSWORD:
